@font-face {
  font-family: Anton;
  src: url("./media/Anton/Anton-Regular.ttf");
}

body {
  margin: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  overflow: scroll;
  background-color: rgb(254, 43, 43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer_show {
  margin-bottom: 40px;
  padding: 0;
  font-size: 60px;
  color: white;
  font-family: Anton;
  text-shadow: 4px 4px black;
}

#eggDisplay {
  margin-top: 0px;
  width: 300px;
  height: 300px;
  background: url("./media/Group15.svg");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  transform-origin: bottom;
}

@keyframes clockShake {
  0% {
    transform: rotate(16deg);
  }

  10% {
    transform: rotate(-16deg);
  }
  20% {
    transform: rotate(16deg);
  }

  30% {
    transform: rotate(-16deg);
  }
  40% {
    transform: rotate(16deg);
  }

  50% {
    transform: rotate(-16deg);
  }
  60% {
    transform: rotate(16deg);
  }

  70% {
    transform: rotate(-16deg);
  }
  80% {
    transform: rotate(16deg);
  }

  90% {
    transform: rotate(-16deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#yolkColor {
  margin-top: 30px;
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 100%;
}

.scroll_container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.options_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  transition: filter 500ms;
  gap: 20px;
}

.options_container div {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  text-align: center;
  margin: 0px;
  height: 50%;
}

.front_arrow {
  font-size: 30px;
  color: rgb(0, 0, 0);
  user-select: none;
  margin-right: 10px;
  margin-left: 10px;
}

.back_arrow {
  color: rgb(0, 0, 0);
  font-size: 30px;
  user-select: none;
  margin-left: 10px;
  margin-right: 10px;
}

.front_arrow:hover,
.back_arrow:hover {
  cursor: pointer;
}

.not_selected {
  width: 100%;
  text-align: center;
  color: rgb(250, 139, 139);
  font-size: 20px;
  text-shadow: 1px 1px black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.selected {
  width: 100%;
  text-align: center;
  color: rgb(251, 246, 246);
  font-size: 30px;
  text-shadow: 2px 2px black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.settings_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

.egg_sizes {
  display: flex;
  width: 70%;
  height: 20%;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.egg_sizes div {
  background-color: white;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 8px 8px black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.egg_type {
  display: flex;
  justify-content: center;
  margin: 0px;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 40px;
}

.egg_type div {
  background-color: white;
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 7px 7px black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

button {
  width: 150px;
  height: 50px;
  margin-top: 45px;
  margin-bottom: 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  box-shadow: 8px 8px black;
}

#selected_size {
  background-color: rgb(91, 90, 90);
  color: white;
}

#selected_type {
  background-color: rgb(91, 90, 90);
  color: white;
}
