:root {
  --hardboiled: #fedb5f;
  --mediumsoft: #ffb03a;
  --runnyyolk: #f88b26;
}

body {
  color: white;
  background-color: rgb(77, 75, 75);
  margin: 0;
}

#eggDisplay {
  height: 180px;
  width: 180px;
  background-image: url(./media/Ellipse\ 1.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}

#eggDisplay > * {
  background-color: #ffb03a;
  height: 83px;
  width: 83px;
  border-radius: 50%;
  position: relative;
  top: 26px;
}

#yolkColor {
  transition: background-color 200ms;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 75%;
}
